  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BSB</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons left">menu</i></a>
      <ul class  ="right hide-on-med-and-down">
        {{> menu}}
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
        {{> menu}}
  </ul>


